.toolbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 8px;
}

.app-title {
  font-size: 20px;
  font-weight: bold;
}

.toolbar-center {
  flex: 1;
  text-align: center;
}

.toolbar-right {
  display: flex;
  align-items: center;
}
