.home-container {
  padding: 16px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.home-header {
  text-align: center;
  margin-bottom: 24px;
}

.home-header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #3f51b5;
}

.home-header h2 {
  font-size: 1.5rem;
  color: #757575;
}

.campaigns-section {
  margin: 0 auto;
  max-width: 1200px; /* Ajusta el ancho máximo según sea necesario */
  padding: 16px;
}
